[submodule "Autoencoder"]
	path = Autoencoder
	url = git@github.com:abbasly/Autoencoder.git
[submodule "TransSeg"]
	path = TransSeg
	url = git@github.com:abbasly/TransSeg.git
[submodule "TransLator"]
	path = TransLator
	url = git@github.com:abbasly/TransLator.git
